* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BU BOSHLANG'ICH BOSH QISMI */


section {
    width: 100%;
    height: 130px;
    background: #4F6CB8;
    display: grid;
    cursor: pointer;
}



header {
    width: 240px;
    display:flex;
}

nav {
    display: flex;
    margin-left: auto;
    justify-content: center;
}

h1 {
    position: absolute;
    margin:40px;
    left: 450px;
    font-size: 40px;
    color: #FFFF;
    display: flex;
} 

ul {
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 900px;
}

li, i {
    font-size: 25px;
    list-style: none;
    padding: 50px 40px 20px;
    color: #FFFFFF;
}

.imtihon > img {
    display: block;
    position: relative;
    top: 45px;
    left: 350px;
}

/* BU UNING OXIRGI QISMI */


/*  RASMLAR BO'LIMI BOSHLANISHI  */

.All-container > h1 {
    font-family: Ubuntu;
    margin: 80px;
    color: black;
    left: 420px;

}


.clas {
    z-index: 1;
    margin-top: 110px;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:auto;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    padding: 170px;
}
.grid-item {
    padding: 9px;
    font-weight: bold;
    margin: 10px;
}




